services:
  test-migration:
    image: clientcommand/migration
    depends_on:
      - test-db
    links:
      - test-db
    volumes:
      # Make the migration files accessible inside the container
      - ./../../migrations:/app/db
    environment:
      - "Engine=Postgres"
      - "Host=test-db"
      - "User=user"
      - "Port=5432"
      - "Password=password"
      - "Database=alertvault"
      - "Schema=public"
      - "RunInitScripts=true"
      - "MaintenanceDatabase=postgres"
  test-db:
    image: postgres:latest
    ports:
      - "5401:5432"
    environment:
      POSTGRES_ROOT_PASSWORD: password
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DATABASE: alertvault
    volumes:
      - test-postgres:/var/lib/postgresql
  redis:
    image: redis:latest
    ports:
      - "6380:6379"

volumes:
  test-postgres: